@charset "utf-8";
/* CSS Document */

body,h1,h2,h3,h4,h5,h6,ul,ol,ul,img,a,p,li,dd,dt,input,figure{margin:0;padding:0;}
ul{list-style:none;}
img{border:0;display:block;}
input{outline:none;}
body{font:12px/1.5 "微软雅黑";color:#3e3e3e;}
a{text-decoration:none;color: #666}
a:hover{text-decoration:none; color: #e5004f;}
.w{width:1190px;margin:0 auto;}
.l{float:left;}
.r{float:right;}